dual_carriageway_endpoint=https://dtdapps.coloradodot.info/arcgis/rest/services/LRS/Routes_withDEC/MapServer/exts/CdotLrsAccessRounded
DB_HOST=
DB_NAME=
DB_PASS=
DB_USER=
LOGGING_LEVEL=INFO
WZDX_ENDPOINT=
WZDX_API_KEY=
TIM_TIMER_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASS=